.aboutCompany{
    /* background-color: rgb(243, 243, 243); */
    color: var(--color-black);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 50px 0;
}
.content{
    font-family: var(--font-family-CamptonLight);
    font-size: var(--font-size-small);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    padding: 0 3rem;
    margin: 0 auto;
}
.content h1{
    color: var(--color-black);
    font-family: var(--font-family-CamptonBook);
    font-size: var(--font-size-normal);
    padding: 1rem 0;
}
.container{
    font-family: var(--font-family-CamptonLight);
    font-size: var(--font-size-small);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 500px;
    padding: 0 2rem;
    margin: 0 auto;
}
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    max-width: 500px;
    padding: 0 2rem;
    border-radius: 50%;
}
img{
    max-width: 300px;
    border-radius: 50%;
}
.customers, .carCount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    flex-wrap: wrap;
}
.customers>div:nth-child(2), .carCount>div:nth-child(2){
    color: var(--color-orange);
}

svg{
    color: var(--color-orange);
}
@media screen and (max-width: 768px){
    .aboutCompany{
        flex-wrap: wrap;
    }
    
}