.Hero {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container {
    width: 100%;
    max-width: 1200px;
}

.HeroInner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 3.5vh;
}
.Video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.VideoContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #888;
    border-radius: 10px;
}
.VideoContainer>h1{
    position: absolute;
    top: 80%;
    left: 0%;
}
.CloseButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    color: white;
    font-size: 34px;
    cursor: pointer;
    z-index: 1000;
}


h1 {
    font-size: 3rem;
    color: #fff;
}

.SliderComponent {
    position: relative;
}

.Slide {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 0px;
    min-height: 80vh;
}

.CarImage {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 100px 0;
    border-radius: 10px 10px 0 0;
}

.CarDetails {
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #fff;
    text-align: left;
    font-size: var(--font-size-small);
    padding: 10px 20px;
    width: 100%;

}

.CarDetails h2 {
    font-size: var(--font-size-normal);
    margin-bottom: 10px;
}

.Price {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.OldPrice {
    text-decoration: line-through;
    color: #888;
    margin-right: 10px;
}

.NewPrice {
    color: var(--color-orange);
}

.Buttons {
    display: flex;
}
.DetailsButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.details{
    color: var(--color-white);
}
.DetailsButton svg{
    margin-right: .4rem;
    
}
.DetailsButton:hover .details{
    color: var(--color-orange);
}
.DetailsButton:hover g{
    stroke: var(--color-orange);
}
g, .details{
    transition: all 0.3s;
}
.OrderButton {
    background-color: transparent;
    font-size: calc(var(--font-size-small) - 5px);
    color: var(--color-white);
    border: 2px solid var(--color-white);
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s;
}
.OrderButton:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}
.countdownContainer>span{
    font-weight:bold;
    color: var(--color-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-left: 20px;
}
.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-left: 20px;
    
}
.countdown span {
    font-weight:bold;
    color: var(--color-orange);
}

:global(.swiper-pagination-bullet) {
    background: #fff;
    transition: all 0.3s;
}

:global(.swiper-pagination-bullet-active) {
    background: var(--color-orange);
}

:global(.swiper-button-next), :global(.swiper-button-prev) {
    color: var(--color-orange);
}
@media screen and (max-width: 784px){
    .HeroInner {
        width: 100%;
        flex-direction: column;
        margin-top: 0vh;
    }
    h1 {
        font-size: 2.7rem;
    }
}
/*@media screen and (max-width: 578px) {
    .HeroInner {
        margin-top: 0;
    }
    .Container {
        margin: -4rem; 
        padding: 0 20px; 
    }
    .CarImage {
        padding: 50px 0;
    }
    .CarDetails {
        padding: 10px;
    }
    .Price {
        font-size: 1rem;
    }
    .OldPrice {
        margin-right: 5px;
    }
    .NewPrice {
        font-size: 1.2rem;
    }
    .OrderButton {
        font-size: calc(var(--font-size-small) - 10px);
        padding: 10px 15px;
    }
    .countdownContainer>span{
        font-size: 2rem;
    }
    .countdown {
        font-size: 2rem;
    }
    
    
}*/