.reservationPageContainer{
    width: 100%;    
    min-height: 100vh;
    background-color: var(--color-white);
}
.reservationPageContainerNull{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.reservationPageContainerNull h2{
    font-size: var(--font-size-large);
    font-family: var(--font-family-CamptonSemiBold);
    color: var(--color-black);
    text-align: center;
    letter-spacing: 2px;
}
.reservationPage {
    min-height: 100vh;
    padding: 40px 20px;
    font-family: var(--font-family-CamptonBook);
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: default;
}
.pageTitle {
    font-size: var(--font-size-large);
    font-family: var(--font-family-CamptonSemiBold);
    color: var(--color-black);
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
}
.reservationItem {
    position: relative;
    background-color: var(--color-light-gray);
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, 
    box-shadow 0.3s ease;
}
.reservationItem:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.reservationTitle {
    font-size: var(--font-size-normal);
    font-family: var(--font-family-CamptonSemiBold);
    color: var(--color-black);
    margin-bottom: 15px;
    border-bottom: 2px solid var(--color-orange);
    padding-bottom: 10px;
}
.deleteButton {
    position: absolute;
    right: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--color-orange);
    padding-bottom: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}
.deleteButton:hover {
    animation: .3s ease-in-out 1 shake;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -1px) rotate(-15deg); }
    20% { transform: translate(-1px, 0px) rotate(15deg); }
    30% { transform: translate(1px, 1px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(15deg); }
    50% { transform: translate(-1px, 2px) rotate(-10deg); }
    60% { transform: translate(-1px, 1px) rotate(0deg); }
    70% { transform: translate(1px, 1px) rotate(-10deg); }
    80% { transform: translate(-1px, -1px) rotate(15deg); }
    90% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(-15deg); }
}
.carName {
    font-size: var(--font-size-normal);
    color: var(--color-black);
    font-family: var(--font-family-CamptonBook);
    margin-bottom: 10px;
    font-weight: bold;
}
.carContainer{
    width: 100%;
}
.carImageContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 2rem;
    
}
.mainDetails{
    margin-bottom: 2rem;
    width: 100%;
    color: var(--color-gray);
    font-size: var(--font-size-small);
    font-family: var(--font-family-CamptonLight);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainDetails>span{
    padding: 0 1rem;
}
.details1, .details2{
    width: 50%;
    min-width: 200px;
    color: var(--color-gray);
    font-size: var(--font-size-small);
    font-family: var(--font-family-CamptonLight);
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 4rem;
}
.details1>span{
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 5px;
}
.details2>span{
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 5px;
}
.details2>span>svg, .details1>span>svg{
    min-width: 32px;
}
.carImage {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
    /* border: 1px solid #ddd; */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}
.reservationDate, .customerInfo {
    font-size: var(--font-size-small);
    color: var(--color-gray);
    font-family: var(--font-family-CamptonLight);
    margin-bottom: 8px;
}
hr {
    border: 0;
    border-top: 1px solid var(--color-gray);
    margin-top: 30px;
    margin-bottom: 30px;
}
.infoContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.clientInfo, .revervationInfo {
    width: 50%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .reservationPage {
        padding: 30px 15px;
    }

    .pageTitle {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .reservationItem {
        padding: 20px;
    }

    .reservationTitle {
        font-size: 1.5rem;
    }

    .carName {
        font-size: 1.4rem;
    }
    .carImageContainer{
        padding: 0rem;
        
    }
    .details1, .details2{
        font-size: calc(var(--font-size-small) - .2rem);
        font-family: var(--font-family-CamptonLight);
    }
    .details1>span>svg, .details2>span>svg{
        width: 24px;
        min-width: 24px;
    }
    .reservationDate, .customerInfo {
        font-size: 1.2rem;
    }
}
@media (max-width: 668px) {
    /* .details1, .details2{
        display: none;
    } */
    .mainDetails{
        margin-bottom: 1.5rem;
        font-size: calc(var(--font-size-small) - .15rem);
    }
    .mainDetails>span{
        padding: 0 .5rem;
    }
    .details1, .details2{
        margin-bottom: 2rem;
    }
}
@media (max-width: 440px) {
    .carImageContainer{
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .details1, .details2{
        width: 100%;
        margin-bottom: 0rem;
    }
    .details1>span{
        padding: 5px 2px;
    }
    .details2>span{
        padding: 5px 2px;
    }
    .infoContainer{
        font-size: calc(var(--font-size-small) - .15rem);
    }
}