.TopBarContainer{
    width: 100%;
    padding: 1rem 4rem;
    height: 60px;
}
.TopBar{
    justify-content: space-between;
    width: 100%;    
    display: flex;
    
}
.Logo{
    width: 180px;
    /* padding: 0 50px; */
    font-family: var(--font-family-CamptonBook);
}
.NavButtons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.NavButton{
    position: relative;
    max-width: 200px;
    font-family: var(--font-family-CamptonLight);
    font-size: var(--font-size-small);
    color: var(--color-white);
    padding: 0 1rem;
    margin: 0 1rem;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
}
.NavButton:hover{
    color: var(--color-orange);
}
.NavButton::after{
    content: "";
    position: absolute;
    display: block;
    top: -5px;
    width: 0;
    height: 2px;
    background-color: var(--color-orange);
    transition: all 0.3s;
}
.NavButton:hover::after{
    width: calc(90% - 5px);
}

.Tel{
    font-family: var(--font-family-CamptonBook);
    font-size: var(--font-size-small);
    max-width: 180px;
}
@media screen and (max-width: 768px){
    .TopBar{
        display: none;
    }
    
}