.mainContent{
    min-height: 100vh;
    width: 100%;
    background-image: url(./ra2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
}
.secondContent{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    background-color: var(--color-light-gray);
}