.sliderContainer {
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
    overflow-x: auto;
}

.slider {
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
    scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
    background-color: #f63c2f52;
    border-radius: 10px;
    height: 10px;
}

.slider::-webkit-scrollbar-thumb {
    background-color: var(--color-orange);
    border-radius: 10px;
}

.slider img {
    width: 60px;
    height: auto;
    flex-shrink: 0;
    margin: 0 10px;
}

.clearButton {
    position: relative;
    font-family: var(--font-family-CamptonBook);
    font-size: var(--font-size-medium);
    background-color: var(--color-light-gray);
    color: var(--color-orange);
    border: none;
    font-weight: bold;
    /* border: 1px solid #ccc; */
    height: auto;
    padding: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.clearButton:hover{
    color: var(--color-orange);
}
.clearButton::after{
    content: "";
    position: absolute;
    display: block;
    bottom: 25%;
    width: 0;
    height: 3px;
    background-color: var(--color-orange);
    transition: all 0.3s;
}
.clearButton:hover::after{
    width: calc(90% - 5px);
}
/* .clearButton:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
} */

