.footer{
    font-family: var(--font-family-CamptonLight);
    font-size: var(--font-size-small);
    background-color: var(--color-black);
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.container{
    background-image: url('../TopBar/logo2.png');
    background-color: #242424;
    background-blend-mode:darken;
    background-position: 55% center;
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.footer>h3{
    width: 100%;
    text-align: left;
    padding: 1rem;
}
.faq>ul>li{
    width:fit-content;
    position: relative;
    text-align: left;
    list-style: outside;
    list-style-type:decimal;
    padding: 1rem 0;
    transition: all 0.3s;
    cursor:help;
    
}
.faq li:hover {
    color: #007BFF;
}
.tooltip {
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    max-width: 400px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: .4rem .5rem;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    z-index: 10;
}

.socials{
    width: auto;
    position: absolute;
    top: -2rem;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.socials>a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--color-white);
    border-radius: 50%;
    padding: .3rem;
    margin: 0 .5rem;
    transition: all .5s;
}
.socials>a:hover{
    background-color: var(--color-orange);
    transition: all .5s;
}
.socials>a path{
    fill: var(--color-orange);
    transition: all .5s;
}
.socials>a:hover path{
    fill: var(--color-white);
    transition: all .5s;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-top: 1rem;
}
.email>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

@media screen and (max-width: 768px){
    .container{
        justify-content: center;
    }

}

@media screen and (max-width: 784px){
    .tooltip{
        top: -100%;
        left: 20%;
        max-width: 300px;
        padding: .2rem .2rem;
        word-wrap: break-word;
    }
}