.carDetailsPage{
    scroll-behavior: smooth;
    background-color: var(--color-light-gray);
    color: var(--color-black);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carDetailsPage>h1{
    padding: 2rem;
    font-size: calc(var(--font-size-large) + 0.5rem);
    font-family: var(--font-family-CamptonBook);
    color: var(--color-black);
}
.infoContainer{
    width: 100%;
    max-width: 1650px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
img{
    max-width: 80%;
    height: auto;
    border-radius: 0px;
}
.pics{
    width: 50%;
    margin: 1rem;
    min-width: 200px;
    max-width: 700px;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* background-color: aqua; */
}
.brand{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.brand > img {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
}
.brand > p{
    width: 100%;
    text-align: center;
}
.info{
    width: 50%;
    min-width: 200px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    /* background-color: rgb(19, 61, 61); */
}
.info>p, .calendar>p{
    width: 100%;
    text-align: left;
    padding: .5rem;
}
.pics>div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.details>span{
    padding: .5rem;
    margin: 0;
}
.carDescription{
    width: 100%;
    font-display: flex;
    font-size: calc(var(--font-size-small) - 0.2rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title {
    position: relative;
    color: var(--color-text-primary);
}

.promotionActive .promotionalText {
    color: var(--color-orange);
    position: relative;
    text-shadow: rgb(241, 56, 56) 1.5px 0px 4px;
}

.promotionActive .promotionalText::before,
.promotionActive .promotionalText::after,
.promotionActive .promotionalText .star::after,
.promotionActive .promotionalText .star::before {
    content: '★';
    font-size: 0.8rem;
    color: var(--color-orange);
    text-shadow: 0 0 4px var(--color-orange);
    position: absolute;
    opacity: 0;
    animation: sparkle 3s infinite;
}

.promotionActive .promotionalText::before {
    top: -0.4em;
    left: 10%;
    animation-delay: 0.5s;
}

.promotionActive .promotionalText::after {
    top: -0.4em;
    right: 10%;
    animation-delay: 1s;
}

.promotionActive .promotionalText .star::after {
    bottom: -0.6em;
    left: 25%;
    animation-delay: 1.5s;
}

.promotionActive .promotionalText .star::before {
    bottom: -0.6em;
    right: 25%;
    animation-delay: 2s;
}

@keyframes sparkle {
    0%, 80% {
        opacity: 0;
        transform: scale(0.5) rotate(0deg);
    }
    85% {
        opacity: 1;
        transform: scale(1) rotate(15deg);
    }
    100% {
        opacity: 0;
        transform: scale(0.5) rotate(0deg);
    }
}



/*Calendar*/

:global(.react-calendar) {
    height: auto !important;
    width: auto !important;
    /* border: 1px solid #eeeeee !important; */
    border-radius: 2rem !important;   
    border: none !important; 
    /* box-shadow: 0px 0px 10px rgb(236, 57, 44) !important; */
}
:global(.react-calendar__tile) {
    font-size: var(--font-size-small) !important;
    font-family: var(--font-family-CamptonBook) !important;
    padding: 8px 10px !important;
    margin: 0 !important;
    background: #ffffff !important;
    color: #333 !important;
    border-radius: 2rem !important;
    transition: all 0.3s !important;
}

:global(.react-calendar__tile:hover) {
    background-color: #eeeeee !important;
    cursor: pointer !important;
}

:global(.react-calendar__tile--active) {
    background-color: #007bff !important;
    color: #ffffff !important;
}

:global(.react-calendar__navigation) {
    padding: 1.5rem !important;
    border-top-left-radius: 2rem !important;
    border-top-right-radius: 2rem !important;
    width: 100% !important;
    height: auto !important;
    font-size: var(--font-size-small) !important;
    font-family: var(--font-family-CamptonBook) !important;
    background-color: var(--color-orange);
    color: var(--color-white) !important;
}
:global(.react-calendar__navigation>button) {
    border-radius: 2rem !important;
    font-size: var(--font-size-small) !important;
    font-family: var(--font-family-CamptonBook) !important;
    background-color: var(--color-orange);
    color: var(--color-white) !important;
}
:global(.react-calendar__navigation>button:hover){
    background-color: #e67373 !important;
    color: #ffffff !important;
}
:global(.react-calendar__navigation>button:focus){
    background-color: #e67373 !important;
    color: #ffffff !important;
}
:global(.react-calendar__month-view__weekdays__weekday){
    font-size: cacl(var(--font-size-small) - .5rem) !important;
    font-family: var(--font-family-CamptonBook) !important;
    color: var(--color-black) !important;
}
.reserved-date {
    background-color: var(--color-orange) !important;
    color: #ffffff !important;
    text-decoration: line-through solid #ffffff !important;
}
.inactive-car {
    background-color: gray;
}
.start-date {
    background-color: blue !important;
    color: white !important;
}
.reserved-range {
    background-color: green !important;
    color: white !important;
}
/* .hovered-date {
    background-color: lightblue !important;
    color: black !important;
} */
.inactive-car:hover {
    background-color: rgb(88, 88, 88);
}
.reserved-date:hover {
    cursor: not-allowed !important;
}
.relatedCars {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3rem 0;
}

.relatedCarsContainer {
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 0.5rem;
    margin: 0.5rem 0;
    padding: 0 1rem;
    box-sizing: border-box;
}

.relatedCarsContainer > * {
    flex: 0 0 300px;
    margin: 0.5rem 0;
    max-width: 300px;
}

.relatedCarsContainer::-webkit-scrollbar {
    height: 10px;
    background-color: #f63c2f52;
    border-radius: 10px;
}

.relatedCarsContainer::-webkit-scrollbar-thumb {
    background-color: var(--color-orange);
    border-radius: 10px;
}


@keyframes slideUpAndScale {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn {
    z-index: 12;
    animation: slideUpAndScale 0.2s ease-out forwards;
}
@media screen and (max-width: 1084px){
    .pics{width: 100%;}
    .info{width: 100%;}
}

@media screen and (max-width: 784px){
    .brand {
        width: 100%;
        height: auto;
    }
    .brand > img {
        width: 100%;
        max-width: 500px;
    }
    .brand > p{
        width: 100%;
        text-align: center;
    }
}
/* Reservation Form */
/* .overlay {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    padding: 20px;
    background-color: #2e2e2ece;
    backdrop-filter: blur(5px);
}
.reservationForm{
    position: relative;
    font-family: var(--font-family-CamptonBook);
    width: 50%; 
    max-width: 450px;
    min-width: 350px;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(36, 36, 36, 0.664);
}
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-white);
}
.reservationForm h2 {
    margin-bottom: 10px;
}
.reservationForm form label {
    display: block;
    margin-bottom: 10px;
}
.reservationForm form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.reservationForm form button {
    font-size: var(--font-size-small);
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.reservationForm form button:hover {
    background-color: #0056b3;
} */

