/* Reservation Form */
.overlay {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    padding: 20px;
    background-color: #2e2e2ece;
    backdrop-filter: blur(5px);
}
.reservationContainer{
    position: relative;
    font-family: var(--font-family-CamptonBook);
    width: 100%; 
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    color: var(--color-white);    
    background-color: rgba(36, 36, 36, 0.664);
}
.closeButton {
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-white);
}
.reservationForm{
    position: relative;
    font-family: var(--font-family-CamptonBook);
    width: 50%; 
    max-width: 450px;
    min-width: 350px;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reservationForm p{
    font-size: calc(var(--font-size-small) + 2px);
    margin-bottom: 10px;
    cursor: default;
}
.reservationForm h2 {
    margin-bottom: 10px;
}
.reservationForm form label {
    display: block;
    margin-bottom: 10px;
}
.reservationForm form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.reservationForm form button {
    font-size: var(--font-size-small);
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.reservationForm form button:hover {
    background-color: #0056b3;
}

.reservationCarDetails{
    position: relative;
    font-family: var(--font-family-CamptonLight);
    width: 50%; 
    height: 100%;
    max-width: 420px;
    min-width: 340px;
    height: auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.details>span{
    padding: .3rem;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 5px 0;
}
.pics>div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0;
}
.brand{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.carImage{
    width: 50%; 
    max-width: 400px;
    min-width: 340px;
    height: auto;
    border-radius: 0px;
}
.OldPrice {
    text-decoration: line-through;
    color: #cccccc;
    margin-right: 10px;
}

.NewPrice {
    color: var(--color-orange);
    font-family: var(--font-family-CamptonBook);
    text-shadow: rgb(241, 56, 56) 1.5px 1px 5px;
}

@keyframes slideUpAndScale {
    0% {
        transform: translateY(100%) scale(0.2);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}
.animateSlideUp {
    animation: slideUpAndScale 0.5s ease-out forwards;
}

.fadeOut{
    animation: fadeOutt 0.7s ease-out forwards;
}
@keyframes fadeOutt {
    100% {
        opacity: 0;
    }
}

.wrapper{
    width: 100%; 
    max-width: 900px;
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.checkmark__circle{
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    /*box-shadow: inset 0px 0px 0px #7ac142;*/
        box-shadow: inset 0px 0px 0px #7ac142,
                    0 0 10px 4px #79c142bb, 
                    0 0 32px 5px #79c142bb;
    
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}
.checkmark__check{
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
.checkmarkText{
    font-family: var(--font-family-CamptonBook);
    font-size: 1.5rem;
    color: #7ac142;
}
@keyframes stroke{
    100%{
        stroke-dashoffset: 0;
    }
}
@keyframes scale{
    0%, 100%{
        transform: none;
    }50%{
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill{
    100%{
        box-shadow: inset 0px 0px 0px 30px #7ac142,
        0 0px 0px #79c142bb, 
        0 0 150px 80px #79c142bb;
    }
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

@keyframes glowError {
    0% { box-shadow: 0 0 4px 2px red; }
    50% { box-shadow: 0 0 8px 3px red; }
    100% { box-shadow: 0 0 4px 2px red; }
}

.inputError {
    animation: shake 0.3s ease-out, glowError .6s ease-in-out forwards;
    border-color: red;
}
