*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#root {
    max-width: 100%;
    
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
html{
    scroll-behavior: smooth;
    min-width: 300px;
}
body{
    font-family: var(--font-family-CamptonBook);
    font-size: var(--font-size-normal);
    color: var(--color-white);
    background-color: var(--color-black);
}
h1{
    font-family: var(--font-family-CamptonSemiBold);
    font-size: var(--font-size-Large);
}
/* li{
    list-style: none;
}
h1, h2{
    font-weight: 700;
}

h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1.4rem;
} 
a{
    text-decoration: none;
    color: var(--color-text-default);
    cursor: pointer;
}*/
button{
    cursor: pointer;
}


